body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f498;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
.header_container{
  width:100%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 5px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin-bottom: none;
  margin-left: 20px;
  margin-top: 2px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
header img{
  float: right;
  border-radius: 70%;
  width:50px;
  margin-top: none;
  margin-right: 20px;
}


/* Sidebar */
aside#sidebar{
  float:left;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}


.vertical-menu {
  width: 100%;
}

.vertical-menu a {
  background-color: #35424a;
  color: #e6e6e6;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/* Main-col */
article#main-col{
  padding: 5px;
  float:right;
  width:65%;
  margin-top: 10px;
  border: #e9e4e4 solid 1px;
}

/* group form */

* {box-sizing: border-box;}
      
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(37, 38, 39);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  float: right;
  width: 200px;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  position: fixed;
  bottom: 50px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 50px;
  text-align: center;
  right: 10px;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(75, 102, 128);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* end of group form */

/* Sending individual email form */
.email{
  background-color: #e1e5e7;
  overflow: hidden;
}
.email textarea {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.email input[type=text], input[type=email] {
  width: 100%;
  height: 35px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.email input[type=submit] {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #c94f4f;
  resize: none;
}



/* Inbox View */
#inbox tr:nth-child(even){background-color: #f2f2f2;}

#inbox tr:hover {background-color: #ddd;}
.pt-3-half {
padding-top: 1.4rem;
}
#Delete{
background-color: red;
border-radius:15px;
height: 30px;
width:80px;
}
#View{
background-color: blue;
border-radius:15px;
height: 30px;
width:80px;
}

#createem {
  height: 30px;
}

#createbu {
  width: 13%;
  height: 30px; 
  border-radius:5px; 
  background-color:#e04646bb;
}
#listofmember {
  width:30%;
}
#sent_receivechart {
  margin-left: 20%; 
  border:10px; 
  background-color:#6d6767bb;
}
#sentchart {
  width:50%; 
  border-radius:10px;
  color: rgb(8, 15, 12); 
  background-color:#ebe7e7bb;
}
#receivechart {
  margin-left: 50%;
  width: 50%; 
  border-radius:10px;
  color: rgb(8, 15, 12); 
  background-color:#946c6cbb;
}
#writingmessage {
  color: rgb(8, 15, 12); 
  background-color:#dbd1d1bb;
}
#messagetxt {
  width:100%;
  height: 50px;
}
#sendmessage {
  margin-left: 3%;
  width: 13%;height: 30px; 
  border-radius:5px; 
  background-color:#e04646bb;
}




/* Styling footer */

footer{
  width: 100%;
  height: 40px;
  color:#ffffff;
  margin-top: 60px;
  background-color:#e8491d;
  text-align: center;
  position: fixed;
  bottom: 0px;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }
}
